.mainProfile{
    width: 100%;

    section {
        width: 100%;
        padding: 0 10%;
        display: flex;
        align-items: center;

        .icon{
            transform: translateY(-30%);
        }

        .name {
            margin-left: 80px;
        }

        .follow{
            margin: 0 0 0 auto;
        }

        .setting{
            margin: 0 0 0 auto;
        }
    }
}

.questionList{
    width: 100%;
    display: block;
    min-height: calc(100vh - 90px);
    background-color: #454668;
    color: #fff;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
