// 質問リスト　サイドヘッダー　↓

.sideHeader{
    width: fit-content;
    margin: 0 40px 0 0;
}

// 質問リスト　サイドヘッダー　↑

// 質問リスト　一覧　↓

.questionList{
    width: 100%;
    min-height: calc(100vh - 90px);
    background-color: #454668;
    color: #fff;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

// 質問リスト　一覧　↑


// 質問詳細　↓

.detail{
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    position: relative;
}

// 質問詳細　↑


// レスポンシブ

@media screen and (max-width: 900px) {

    .sideHeader{
        width: 100%;
        margin: 0 40px 0 0;
        display: none;
    }


}
