// トップリンク　↓

.topLink{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;

    &:hover{
        color: #fff;
    }
}

// トップリンク　↑

// ヘッダー パーツ　リンク ↑

.link{
    margin: 0 auto;

    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    section{
        margin: 0 20px 0 0;

        &:last-child{
            margin: 0;
        }

        a{
            text-decoration: none;
            color: #fff;
        }
    }
}

// ヘッダー パーツ　リンク ↑

// ヘッダー パーツ　アイコン ↑

.icon{
    width: 45px;
    height: 45px;
    margin: 0 0 0 auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
    }

    .humanIcon{
        font-size: 45px;
        background-color: #fff;
    }
}


// ヘッダー パーツ　アイコン ↑

// ユーザ名　↓

.name{
    width: 80px;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;

    a{
        text-decoration: none;
        color: #fff;
    }
}

// ユーザ名　↑


// レスポンシブ

@media screen and (max-width: 600px) {

    // ユーザ名
    .name{
        display: none;
    }

}
