//　カレンダー　デザイン　↓

.scheduleMain{
    width: fit-content;
    margin: 0 0 0 0;

    .nowDate{
        margin: 0 0 6px 0;
        display: flex;
        align-items: center;

        .arrow{
            &:hover{
                cursor: pointer;
            }
        }
    }

    table{
        width: 100%;

        thead, tbody, tr, td {
            border: 10px solid rgba($color: #000000, $alpha: 0);
        }

        td{
            width: 35px;
            height: 30px;
            text-align: center;

            &:hover{
                cursor: pointer;
            }
        }

        .nowTd{
            color: #fff;
            background-color: #454668;
            border-radius: 50%;
            font-size: 0.9rem;
        }
    }
}

//　カレンダー　デザイン　↑

// detailTop[テンプレート]のアイテム ↓

.detailTopItem{
    width: 220px;
    color: #fff;
    background-color: #454668;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;


    .contentDetail{
        margin: 0 25px 0 10px;
        text-align: center;

        .icon{
            font-size: 3.5rem;
        }

        .name{
            text-align: center;
            letter-spacing: 1px;
            margin: 6px 0 0 0;
        }
    }

    .content{
        width: 100%;
        margin: 32px 10px 0 0;
        text-align: center;
    }
}

// detailTop[テンプレート]のアイテム ↑

// 行動リスト　↓

.noSearch{
    width: fit-content;
    min-height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}


.List{
    width: 100%;

    a{
        text-decoration: none;
        color: #fff;
    }

    .questionItem{
        padding: 10px 20px;
        border-bottom: 1px solid #34313f;
        display: flex;

        .icon{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .main{
            margin-left: 20px;

            .title{
                font-weight: 600;
            }
        }
    }
}

// 行動リスト　↑
