// プロフィール背景画像 ↓

// 背景画像比率 5 : 2
.backImage {
    width: 100vw;
    height: 400px;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
}

// プロフィール背景画像 ↑

// プロフィールアイコン画像 ↓

.iconImage{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 4px solid #fff;

    img{
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    }
}

// プロフィールアイコン画像 ↑

// プロフィール名前 ↓

.name{
    font-size: 1.1rem;
    font-weight: 600;
}

// プロフィールアイコン名前 ↑

// フォローボタン ↓

.follow{
    color: #454668;
    border: 1px solid #454668;
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 0.8rem;

    &:hover{
        cursor: pointer;
    }
}

.unfollow{
    color: #fff;
    background-color: #454668;
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 0.8rem;

    &:hover{
        cursor: pointer;
    }
}

// フォローボタン ↑
