// プロフィール背景画像 ↓

// 背景画像比率 5 : 2
.backImage {
    width: 100%;
    max-width: 100vw;
    height: 400px;
    position: relative;
    background-color: #ccc;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
}

// プロフィール背景画像 ↑

// プロフィールアイコン画像 ↓

.iconImage{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    transform: translateY(-30%);
    overflow: hidden;
    border: 4px solid #fff;
    background-color: #fff;

    .humanIcon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 120px;
    }

    img{
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    }
}

// プロフィールアイコン画像 ↑

// プロフィール名前 ↓

.name{
    font-size: 1.1rem;
    font-weight: 600;
}

// プロフィールアイコン名前 ↑

// フォロー・フォロワー数　↓

.followCountCover{
    display: flex;
    gap: 0 25px;

    div{
        font-weight: 600;
    }
}

// フォロー・フォロワー数　↑

// フォローボタン ↓

.follow{
    color: #454668;
    border: 1px solid #454668;
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 0.8rem;

    &:hover{
        cursor: pointer;
    }
}

.unfollow{
    color: #fff;
    background-color: #454668;
    border-radius: 18px;
    padding: 8px 18px;
    font-size: 0.8rem;

    &:hover{
        cursor: pointer;
    }
}

// フォローボタン ↑

// 設定ボタン　↓

.settingButton{
    color: #222;
}

// 設定ボタン　↑

// 質問リスト　ヘッダー　↓

.listHeader{
    display: flex;
    padding: 0 0 0 25px;
    border-bottom: 1px solid #222;

    a{
        width: 80px;
        padding: 18px 0 15px 0;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .item{
        width: 80px;
        padding: 18px 0 15px 0;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    // 現在のURLのリンクデザイン
    .NowUrlLink{
        border-bottom: 3px solid #ccc;
    }

    .AnotherUrlLink{
        border-bottom: 1px solid #222;
    }
}

// 質問リスト　ヘッダー　↑

// 質問　一覧　↓

.List{
    width: 100%;

    a{
        text-decoration: none;
        color: #fff;
    }

    // 現在のURLのリンクデザイン
    .NowUrlLink{
        border-bottom: 3px solid #ccc;
    }

    .AnotherUrlLink{
        border-bottom: 1px solid #222;
    }

    .userItem{
        padding: 10px 20px;
        border-bottom: 1px solid #34313f;
        display: flex;
        align-items: center;

        .icon{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
            }

            .humnanIcon{
                font-size: 40px;
            }

        }

        .main{
            margin-left: 20px;

            .title{
                font-weight: 600;
            }
        }
    }

    .questionItem{
        width: 100%;
        padding: 10px 20px;
        border-bottom: 1px solid #34313f;
        display: flex;

        .icon{
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
            }

            .humnanIcon{
                font-size: 40px;
            }
        }

        .main{
            margin-left: 20px;
            word-break: break-all;

            .title{
                font-weight: 600;
            }
        }
    }
}

// 質問　一覧　↑

// 絞り込み検索　0件　↓

.notList{
    text-align: center;
    margin: 80px;
}

// 絞り込み検索　0件　↑
