// 学習記録入力フォーム ↓

.form{
    max-width: 1000px;
    width: 100%;
    // display: flex;
    margin: 30px auto 0 auto;

    .ImageCover{
        max-width: 500px;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;

        img{
            width: 100%;
            vertical-align: bottom;
        }
    }

    .MainCover{
        width: 100%;
        margin: 30px 0 0 0px;
        padding: 0 20px;

        section{
            width: 100%;
            margin: 0 0 35px 0;

            .name{
                margin: 0;
            }

            input{
                width: 100%;
                outline: none;
                border-radius: 8px;
                margin-top: 6px;
                padding: 6px 10px;
            }

            select{
                width: 100%;
                outline: none;
                border-radius: 8px;
                padding: 6px 10px;
            }
        }

        // 保存ボタン
        .postButton{
            width: fit-content;
            margin: 30px 0 60px auto;
            color: #fff;
            background-color: #454668;
            font-size: 0.8rem;
            padding: 10px 22px;
            border-radius: 12px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

// 学習記録入力フォーム ↑

// 現在時刻 ↓

.nowtime{
    width: fit-content;
    margin: 20px auto 0 auto;
}

// 現在時刻 ↑

// 勉強時間記録 ↓

.timerecord{
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;

    .mainTime{
        font-size: 2.3rem;
    }

    .buttonCover{
        width: fit-content;
        display: inline-flex;
        margin: 30px 0 0 0;
        gap: 0 30px; // 横並び要素　隙間

        %button {
            border: 1px solid #222;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            position: relative;

            p {
                width: fit-content;
                position: absolute;
                top: 38%;
                left: 50%;
                transform: translate(-50%);
            }

            &:hover{
                cursor: pointer;
            }
        }

        .startButton{
            @extend %button;
        }

        .stopButton{
            @extend %button;
        }
    }
}

// 勉強時間記録 ↑
