// 学習記録入力フォーム ↓

.form{
    width: fit-content;
    display: flex;
    margin: 60px auto 0 auto;

    .ImageCover{
        max-width: 500px;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;

        img{
            width: 100%;
            vertical-align: bottom;
        }
    }

    .MainCover{
        margin: 0 0 0 80px;

        section{
            margin: 0 0 20px 0;

            .name{
                margin: 0;
            }

            input{
                width: 500px;
                margin-top: 6px;
            }
        }
    }
}

// 学習記録入力フォーム ↑

// 現在時刻 ↓

.nowtime{
    width: fit-content;
    margin: 20px auto 0 auto;
}

// 現在時刻 ↑

// 勉強時間記録 ↓

.timerecord{
    width: 100%;
    margin: 60px 0 0 0;
    text-align: center;

    .buttonCover{
        width: fit-content;
        display: inline-flex;
        background-color: antiquewhite;
    }
}

// 勉強時間記録 ↑
