// 設定　項目 ヘッダー ↓

.settingHeader{
    width: fit-content;
    min-height: calc(100vh - 65px);
    margin: 0 0 0 auto;
    padding: 10px 20px 0 0;
    border-right: 1px solid #ccc;

    section {
        padding: 10px;
        border-bottom: 1px solid #fff;

        // 文字の上下の隙間
        %font-height {
            margin: 8px 0
        }

        .title{
            @extend %font-height;
            font-size: 0.9rem;
            color: #6f6e6e;
        }

        a{
            @extend %font-height;
            font-size: 1rem;
            display: block;
            text-decoration: none;
            color: #222;
        }
    }
}

// 設定　項目 ヘッダー ↑

// 設定プロフィール編集

.edit{
    width: 600px;
    background-color: #6f6e6e;
    border-radius: 20px;
    overflow: hidden;

    // ファイル選択を消す
    input[type="file"] {
        display: none;
    }

    .backImage{
        width: 100%;
        height: 160px;
        background-color: #454668;

        &:hover{
            cursor: pointer;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    section{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        $icon-profile-size: 80px;
        .iconImage{
            width: $icon-profile-size;
            height: $icon-profile-size;
            border-radius: 50%;
            overflow: hidden;
            transform: translateY(-30%);
            margin: 0 0 0 10%;
            border: 3px solid #6f6e6e;
            position: relative;
            background-color: #fff;

            &:hover{
                cursor: pointer;
            }

            .humanIcon{
                font-size: $icon-profile-size;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name{
            color: #fff;
            margin: 0 0 0 8%;
        }

        .nameInput{
            margin: 0 0 0 8%;
            padding: 4px;
            font-size: 0.75rem;
            border-radius: 6px;
            outline: none;
            border: none;
            color: #fff;
            background-color: #3f3f3f;
        }

        .nameChange{
            color: #fff;
            margin: 0 10% 0 auto;
            font-size: 0.65rem;
            background-color: #434242;
            padding: 8px;
            border-radius: 10px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

// 画像サイズがエラーの場合に表示
.imageSizeMessageCover{
    width: 100%;
    display: flex;
    margin: 30px 0 0 0;
    align-items: center;

    // 画像サイズエラーメッセージ
    .imageSizeMessage{
        width: fit-content;
        color: red;
    }

    // リセットボタン
    .ResetButton{
        width: fit-content;
        color: #fff;
        background-color: #5c5c5c;
        padding: 8px 16px;
        border-radius: 10px;
        font-size: .8rem;
        opacity: 0.9;
        margin: 0 0 0 auto;

        &:hover{
            cursor: pointer;
        }
    }
}

// 変更内容ある場合に表示
.buttonCover{
    width: 100%;
    display: flex;
    margin: 30px 0 0 0;

    // プロフィール変更内容保存ボタン
    .SaveButton{
        width: fit-content;
        margin: 0 0 0 auto;
        color: #fff;
        background-color: #5c5c5c;
        padding: 8px 16px;
        border-radius: 10px;
        font-size: .8rem;

        &:hover{
            cursor: pointer;
        }
    }

    // リセットボタン
    .ResetButton{
        width: fit-content;
        color: #fff;
        background-color: #5c5c5c;
        padding: 8px 16px;
        border-radius: 10px;
        font-size: .8rem;
        opacity: 0.9;

        &:hover{
            cursor: pointer;
        }
    }
}

// ログアウトボタン
.logoutButton{
    &:hover{
        cursor: pointer;
    }
}

// レスポンシブ

@media screen and (max-width: 500px) {



}
