// ヘッダー
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

// メインヘッダー
.mainHeader{
    width: 100%;
    height: 55px;
    background-color: #444;
    color: #ffff;
    display: flex;
    align-items: center;
    padding: 0 30px;
}


// サイドヘッダー
.sideHeader{
    width: 240px;
    height: 100vh;
    overflow-y: scroll;
}
